aside
  &::-webkit-scrollbar
    display none
  &::-ms-scrollbar
    display none
  scrollbar-width none
  height 100vh
  position sticky
  display flex
  flex-direction column
  justify-content space-between
  align-content stretch
  overflow-y auto
  overflow-x hidden
  color var(--theme-text-light)
  padding 0 10px
  h1
    transition .6s
    font-family CarroisGothic
    margin-top 0
  footer
    color var(--theme-unimportant)
    padding 0 3px 10px 3px
    font-family CarroisGothic

#logo
  user-select none
  width 100%
  height 5px
  display inline-block
  margin-top 20px !important

  padding 0
  img
    width 100%

#Dr
  text-align left
  a
    color var(--theme-text-light)

#total
  margin-bottom 0px
  margin-top 0px
  font-family CarroisGothic




#total-archives, #total-categories, #total-tags 
  font-family CarroisGothic !important
  margin-top 3px !important
  margin-left 5px !important
  margin-bottom 15px
  color var(--theme-text-light)
  box-sizing border-box
  width 100%
  padding 0 0 0 10px
  display inline-block
  transition .3s
  .total-title
    font-family CarroisGothic
    font-size 14px
    display block
    color var(--theme-highlight) !important
  .total-number
    font-weight bolder
    font-size 14px
    padding 0 10px
    transition .3s
  @media ( min-width 969px )
    &:hover
      border-color var(--theme-highlight)
      background-color var(--theme-bg-soft-hover)
      .total-number
        color var(--lightblue)

#total-archives
  margin-top 115px

#aside-block
  font-family CarroisGothic
  flex-grow 2
  margin-top 10px
  #total-archives, #total-categories, #total-tags .total-number
    font-family CarroisGothic
    letter-spacing 2px
  #toc-div
    font-family CarroisGothic

  h1
    margin 0
    padding 0 10px
    font-size 14px

#description p
  margin-left 2 !important
  padding-left 2 !important
  text-align left
