html, body, label
  cursor var(--cursor-data) 3 3, default

html, body
  position static

#cursor-outer
  z-index 65536
  position fixed
  transform translate3d(-50%, -50%, 0px)
  height 36px
  width 36px
  border 1px solid var(--theme-cursor)
  border-radius 50%
  pointer-events none
  transition background-color .3s, width .3s, height .3s
#cursor-effect
  z-index 65535
  position fixed
  transform translate3d(-50%, -50%, 0px) scale(0)
  height 80px
  width 80px
  border 4px solid var(--theme-cursor)
  border-radius 50%
  opacity 0
  pointer-events none

@media ( min-width 869px)
  main
    -ms-scrollbar-base-color var(--theme-bar-color-2)
    -ms-scrollbar-track-color var(--theme-bar-color-3)
    scrollbar-color var(--theme-bar-color-0) var(--theme-bar-color-2)
    scrollbar-width thin
    scrollbar-gutter stable
  ::-webkit-scrollbar
    width 6px
    height 6px
  ::-webkit-scrollbar-thumb
    background-color var(--theme-bar-color-2)
    border-radius .25em
  ::-webkit-scrollbar-track
    background-color var(--theme-bar-color-3)
  ::-webkit-scrollbar-thumb:hover
    background-color var(--theme-bar-color-1)
  ::-webkit-scrollbar-thumb:window-inactive
    background-color var(--theme-bar-color-3)

body
  margin 0
  color #5c5c5c
  background-image var(--body-background)
  background-color var(--theme-background)
  background-attachment fixed
  background-position 50% 0
  background-repeat no-repeat
  background-size cover
  font-family CarroisGothic
  font-size 26px !important

h2, h3, h4, h5, h6
  color var(--lightgreen)
  margin-block-start 0.33em
  margin-block-end 0.23em
  padding-top 0.2em
  padding-bottom 0.2em

h1
  color var(--lightgreen)
  margin-block-start 0.0em
  margin-block-end 0.0em
  padding-top 0.0em
  padding-bottom 0.0em
  font-weight bold

li
  color #000000

p
  color #4c4c4c
  font-size 26px
  overflow visible
  font-family 'Helvetica'

a
  text-decoration none
  color var(--lightgreen)

a,
:is(strong, em)>a
  color  var(--lightblue)
  font-weight bold
  padding 0 3px
  transition color .3s,
    background-color .1s,
    line-height .3s,
    padding .3s,
    border .3s,
    opacity .2s

  @media ( min-width 969px )
    &:hover
      color var(--theme-text-hover)
      background-color var(--theme-highlight)
    &:active
      color var(--theme-text-hover)
      background-color var(--theme-subcolor)

button
  background var(--theme-bg-soft)
  color var(--theme-text-light)
  font-family CarroisGothic
  border unset

time
  font-family CarroisGothic

code, pre
  font-family CarroisGothic
  font-size 22px
  color #800000

code
  margin 0!important
  background-color var(--theme-bg-soft-hover)
  padding 0 3px!important

pre
  margin 6px 0
  background-color transparent
  color #800000
  font-size 22px

kbd
  color var(--theme-kbd-text)
  background-color var(--theme-subcolor)
  box-shadow 0 0.12em var(--theme-kbd-shadow)
  margin 0 2px
  border-radius 2px
  padding 0 3px
  font-family CarroisGothic

em
  font-family CarroisGothic
strong em, em strong
  font-family CarroisGothic
:not(a)>:is(strong, em)
  color var(--theme-light)
:not(a)>:is(strong em, em strong)
  color var(--theme-stress)

blockquote
  color #4c4c4c !important
  padding 3px 20px
  background-color var(--theme-bg-soft)
  transition .3s
  p 
    color var(--lightgreen)
    font-size 22px
  blockquote
    margin 0
    padding-right 0
  &:hover
    background-color var(--theme-bg-soft-hover)
ol
  overflow auto

li
  font-size 16px
  font-family Helvetica
  color  var(--lightgray)
  margin-block-start 0.1em
  margin-block-end 0.1em
  blockquote
    margin 0
    margin-bottom 0
    padding-right 0

table
  border 1 1 1 1
  border-collapse collapse
  background-color transparent
  th
    font-family Helvetica
    color var(--brightblue)
    background-color #ffffff
    border #5fb0fa solid 1px
    padding 10px 10px 10px 10px
  td
    color #00b0ff 
    font-size 16px
    font-family Helvetica
    padding 10px 10px 20px 20px
    border var(--theme-td-border) solid 1px
    &:hover
      background-color var(--theme-td-hover)

figure:not(.highlight), figcaption
  text-align left
figcaption
  font-style italic

a, button, input, textarea
  cursor var(--cursor) 3 3, pointer

input
  cursor var(--cursor) 3 3, text
  user-select none
  font-family CarroisGothic
