.text-title, .text-content
  color black
  height 18px
  line-height 18px
  padding 0 5px
  font-size small
  font-family CarroisGothic
  display inline-block
.text-title
  background-color var(--theme-highlight)
.text-content
  margin 0 10px 0 0
  padding 0 8px 0 5px
  background-color white

.gutter pre
  margin 6px 0
  padding-top 5px
.code pre
  margin 6px 0
  width 1300px
.hljs span
  line-height 0

.code-icon
  display inline-block
  width 20px
  height 20px
  &::before
    content '>'
    margin 5px

.highlight.open
  .code-box
    transition .5s cubic-bezier(0.5, 0, 1, 0)
    max-height 10000px
  .code-header
    .code-space
      display none
    .code-icon
      transform rotate(90deg)
      transition transform 0.2s ease

.highlight.fold
  .code-box
    transition .5s cubic-bezier(0, 1, 0, 1) -0.1s
    max-height 0
  .code-header
    .code-copy
      display none
    .code-icon
      transition transform 0.2s ease

.highlight
  margin 1em 10px
  overflow-x hidden
.code-box
  overflow-y hidden
  max-height 0
.code-header
  user-select none
  background-color var(--theme-code-header)
  display flex
  justify-content space-between
  &:focus-visible
    outline #000 auto 1px
  .code-title
    pointer-events none
    color var(--theme-text-light)
    margin 7px 8px
.code-header-tail
  align-self left
.code-space
  line-height 35px
  padding-right 14px
  font-size 18px
.code-copy
  margin 0 4px
  padding 7px 9px
  display inline-block
  line-height 1
  text-decoration none
  white-space nowrap
  border 1px solid var(--theme-border-light)
  border-radius 5px
  background-color var(--theme-bg-soft)
  color var(--theme-text-light)
  font-size 0.75em
  transition .3s
  @media (min-width 769px)
    &:hover
      border 1px solid var(--theme-border)
      color  var(--theme-subcolor)
      transition .3s
  @media (max-width 768px)
    &:active
      border 1px solid var(--theme-border)
      color  var(--theme-subcolor)
      transition .3s
  &.copied
    border 1px solid var(--theme-border)
    color  var(--theme-subcolor)
    transition .3s

table
  td
    border #4e4e4e solid 1px

  code
    padding 0 8px 5px 8px
    background-color transparent!important
    width 200%
  .gutter
    position sticky
    color #00b0ff 
    text-align right
    background-color #444444
    padding 10px 8px 5px 8px
    &, pre, span
      user-select none
      pointer-events none
  .code
    width 200%
    background-color #444444
    transition .3s
    @media (min-width 769px)
      &:hover
        background-color #000

.MathJax
  transform translateZ(0)
