header
  pointer-events none
  top 0
  z-index 15
  height 100%
  font-family CarroisGothic
  display inline
  position sticky

nav
  position relative
  height 100%
  white-space nowrap
  scrollbar-width none
  overflow hidden
  display flex
  flex-direction column
  justify-content center
  &::-webkit-scrollbar
    display none
  &::-ms-scrollbar
    display none
  li
    display block

.navBlock
  transition unset
  position relative
  height 40px
  line-height 14px
  padding 0 12px
  display inline-block
  width 70%
  &:active
    background unset

.navBtn
  transition transform .3s
  pointer-events all
  display block
  position absolute
  top 1em
  font-size 2em
  z-index 10
.navBtnIcon 
  z-index 10
  width 1em
  height 1em
  display block
  position relative
.navBtnIconBar
  position absolute
  top 50%
  width 1em
  height 0.1em
  background-color var(--theme-btn-bg)
  text-indent 101%
  white-space nowrap
  overflow hidden
  transition transform ease-in-out 0.3s
.navBtnIconBar
  &:nth-child(1)
    left 0
    transform translate(0, -350%)
  &:nth-child(2)
    left 0
    transform translate(0, -50%)
  &:nth-child(3)
    right 0
    transform translate(0, 250%)

.expanded .navBtnIconBar
  &:nth-child(1)
    transform translate(0, -50%) rotateZ(45deg) scaleX(0.5) translate(-50%)
  &:nth-child(3)
    transform translate(0, -50%) rotateZ(45deg) scaleX(0.5) translate(50%)
  &:nth-child(2)
    transform translate(0, -50%) rotateZ(-45deg)

.navContent
  overflow visible
  margin unset
  position relative
  padding 0
  pointer-events all

.navItem
  overflow visible
  position relative
  margin unset
  transition .6s
  @media ( max-width 1023px )
    & .navItemTitle::before
      content ""
      display block
      width 100%
      position absolute
  .navItemTitle
    transition .3s
    width 100%
    overflow-wrap break-word
    white-space normal
    position relative
    display block
.active
  &>:is(a,.navBlock)>.navItemTitle,&>.navItemTitle
    color var(--theme-highlight)
    &::before
      content ""
      display block
      color var(--theme-highlight)
      border-color var(--theme-highlight)
      width 150%
      position absolute
      left 0

.navItemList
  overflow visible
  display none
  top 0
  text-align left
  padding 0
  .navItem
    min-width max-content
    box-sizing border-box
    margin 0
    a
      min-width max-content
      padding 0
      display block
      width 100%
      line-height 40px

extendList()
  display block
  &>.navItemList
    box-sizing border-box
    display inline-block
    width max-content
    min-width 100%
    margin 0

@media ( max-width 868px )
  header
    left 0
    .navContent
      padding-left 0

@media ( max-width 1023px )
  header
    width max(428px ,100% - 100px)
    max-width 100%
    position fixed
  nav
    max-width 228px
    height max-content
    min-height 100vh
    &::before
      content ""
      height 100%
      width 100%
      position absolute
      top 0
      left 0
      background-color var(--theme-bg-trans0)
      transform translateX(-100%)
      transition transform .6s
      pointer-events all
  .navBtn
    left 11em
  .navContent
    overflow-y auto
    transform translateX(-100%)
    width 100%
    transition transform 0.6s
  .navItem
    padding .1em 4em
  .navBlock
    &:hover
      background-color unset
    box-sizing border-box
    align-items flex-end
    padding unset
    height 50%
  .navItemTitle
    color var(--theme-text-light)
    padding-bottom 1px
    border-bottom 1px solid var(--theme-unimportant)
  .active>:is(a,.navBlock)>.navItemTitle::before
    border-color var(--theme-highlight)
  .expanded
    .navContent,
    nav::before
      transform translateX(0%)
  .navItemList
    width 100%
    &>.navItem
      padding-left 1em
      width calc(100% - 1em)
  .navItemTitle:not(:only-child)::before
    content '>'
    margin 0 5px
  .expanded,
  .expanded>.navBlock
    &>.navItemList
      margin-top 6px
      extendList()
    &>.navItemTitle:not(:only-child)::before
      content '▽'
      color var(--theme-highlight)

@media ( min-width 1024px )
  header
    width 80px
  .navItem
    width 60px
  .navBtn
    display none
  .navBlock:hover
    background-color unset
  .navItemTitle
    color var(--theme-text-light)
    &::before
      height 100%
      top 0
      box-sizing border-box
  .navItemList
    width max-content
    min-width 180px
    position absolute
    background-color var(--theme-bg-hover)
    .navItem
      width 120%
      padding 0
      .navItemTitle
        box-sizing border-box
        color var(--theme-highlight)
      a:hover .navItemTitle
        color var(--theme-text-hover)
      &:hover>.navItemTitle
        background-color var(--theme-highlight)
        color var(--theme-text-hover)
  .navBlock,
  .navItem
    &:hover
      extendList()

@media ( min-width 1440px )
  header
    width 140px
  .navItem
    width 90px

@media ( min-width 1920px )
  header
    width 170px
