#archive-flex
  width 100%
  padding-top 30px
  height fit-content
  min-height 600px
  box-sizing border-box
  display flex
  justify-content stretch
  position: relative

#archive-aside
  &::-webkit-scrollbar
    display none
  &::-ms-scrollbar
    display none
  scrollbar-width none
  padding-bottom 0px
  padding-top 0px
  overflow auto
  box-sizing border-box
  top 0
  height fit-content
  max-height 100vh
  display flex
  order -1
  flex-grow 1
  flex-direction column

#Archives, #Categories, #Tags
  margin 0 10px 
  background-color var(--theme-bg-trans1)
  overflow-y auto
  &, h1
    transition .2s
  h1
    margin-bottom 12px

    padding 0 15px
    color var(--theme-text-rev)
    background-color var(--theme-bg-light)
    font-size medium
    font-family CarroisGothic
  @media ( min-width 769px )
    &:hover, &:target
      background-color var(--theme-bg-soft)
      h1
        background-color var(--theme-highlight)

#Archives
  min-height calc(100vh - 40px)
  flex-grow 1
  h2
    margin 0
    font-size medium
    &:before
      content ''
      display inline-block
      width 5px
      height 15px
      margin-right 5px
      background-color var(--theme-subcolor)
  time
    color var(--theme-text-light)
    padding 0 0 0 0px
.categories, .tags
  display inline-block

#Archives-bg
  box-sizing border-box

.article-item
  font-size 26px
  margin-top 0px !important
  position relative
  margin-bottom 12px
  &::after
    content ''
    width calc(100% - 30px)
    position absolute
    display block
    bottom -5px
    left 15px
    border-bottom: 1px var(--theme-unimportant-trans) solid

#Categories
  overflow visible
  height 50%
  flex-grow 1
  margin-bottom 30px
  margin-top 0px !important

#Tags
  overflow visible
  height 100%
  flex-grow 1

#navigation a
  width 100%
  display inline-block
  padding 6px 0
  font-size large
  font-weight 900
  font-family CarroisGothic
  text-align left

.control-archive
  width 75px
  display inline-block
