main
  height 98vh
  width 100vw
  overflow auto
  overflow overlay
  box-sizing border-box

article
  margin-top 0px 
  transition margin .3s
  box-sizing border-box
  position relative
  min-height calc(100vh - 10px)
  height fit-content
  min-width 1px
  #post-content p, .recent-excerpt p
    line-height 150%

.posts
  margin-top 10px
  padding-bottom 72px
  width 100%
  min-height calc(100vh - 82px)
  @media ( max-width 768px )
    padding-bottom 4em

.recent-post
  color var(--theme-unimportant)
  display block
  margin-bottom -1px
  border 1px solid var(--theme-unimportant)
  padding 13px 15px
  transition .3s
  .recent-info::after
    transition .3s
  .categories, .tags
    font-family CarroisGothic
  .categories
    color var(--theme-highlight)
    font-size small
    font-weight bold
    padding 0 10px 0 0
  .tags
    font-size 18px
    span
      display inline-block
      padding 0 5px 0 0
  time
    color var(--theme-unimportant)
    display inline-block
    text-align left
    float right
  hr
    color var(--theme-unimportant)
    border-color var(--theme-unimportant)
  img
    width 100%
  h1
    font-family CarroisGothic
    color #b2ff59
    margin 0
    padding 15px 0 0 0
  @media ( min-width 769px )
    &:hover
      color var(--theme-text-hover)
      background-color var(--theme-highlight)
      a
        color var(--theme-text-hover)
        &:active
          color var(--theme-text-hover)
        &:hover
          color #b2ff59
      time, .categories
        color var(--theme-text-hover)
      .recent-info::after
        background-color var(--theme-bg-hover)
      .recent-excerpt a
        color #b2ff59
      hr
        color var(--theme-highlight)
        border-color var(--theme-highlight)
      figure table
        .gutter
          background-color var(--theme-border)
        .code
          background-color var(--theme-bg-trans1)
          &, &:hover
            color #b2ff59
      blockquote
        &, &:hover
          color #b2ff59
          border-color var(--theme-border)
          background-color var(--theme-bg-trans1)
      .read-more
        color #b2ff59
        background-color var(--theme-bg-hover)

.recent-info
  min-height 25px
  &:after
    content ''
    width 13%
    display block
    height 5px
    background-color var(--theme-highlight)
    position relative
    bottom -6px

.recent-excerpt
  margin 12px 0 28px 0

.read-more
  color var(--theme-background)
  display block
  float right
  font-size 26px
  font-weight 600
  background-color var(--theme-highlight)
  margin-top -21px
  padding 3px 10px 3px 10px
  font-family CarroisGothic

#paginator
  width 100%
  user-select none
  margin 20px 0 
  display flex
  flex-wrap wrap
  justify-content center
  position absolute
  bottom 0
  left 0
  a, span
    color #b2ff59
    font-weight bold
    margin 0 10px 0 0
    border 1px solid var(--theme-highlight)
    padding 5px 10px
    &:last-child
      margin 0
  @media ( min-width 769px )
    a:hover
      color var(--theme-text-hover)
      background-color var(--theme-highlight)
  .current
    color var(--theme-text-hover)
    background-color var(--theme-highlight)
