.category-list, .tag-list
  list-style none
  display block
  margin 0

.category-list
  margin-top 0px
  padding 0px 

.category-list-item
  margin-bottom 0px
  position relative
  @media ( min-width 769px )
    &:hover
      a
        color var(--theme-highlight)
        border-left #444444 solid 5px
        background-color var(--theme-bg-soft-hover)
      span
        color var(--theme-text-light)
.category-list-link
  font-size 18px !important
  width 100%
  display inline-block
  box-sizing border-box
  &:before, &:after
    color var(--theme-highlight)
.category-list-count
  padding 6px 10px
  position absolute
  right 0
