
 /* Dropdown Button */
.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #3e8e41;
}

/* The search field */
#myInput {
  box-sizing: border-box;
  background-image: url('searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 36px;
  padding: 14px 10px 12px 15px;
  border: none;
  border-bottom: 1px solid #ddd;
}


/* The search field when it gets focus/clicked on */
#myInput:focus {outline: 3px solid #ddd;}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  border: 1px solid #ddd;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #b2ff59;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;} 

#post-content
  h1
    color #888888
    border-bottom #5b5b5b  solid 1px
    width 95%
    display flex
    font-size 26px
    color var(--theme-text) 
    font-family AneKannada
  h2
    font-size 24px
    color #0F1821 !important
  h3
    font-size 24px
    color #4D759A
    font-family CarroisGothic

  h4
    font-size 22px
    font-family CarroisGothic
    color var(--theme-unimportant)
  h5
    font-size 28px
    font-family CarroisGothic
    color var(--lightyellow) !important
  h6
    font-size 18px
    font-weight bold !important
    font-family CarroisGothic
    color #0BB000!important
  h7
    font-size 1.15em
    font-family KantumruyPro
    color #ededed
  h8
    font-size 18px
    font-family KantumruyPro

#post-bg
  margin-top 20px
  width 100%
  box-sizing border-box
  padding 20px 10px
  background-color var(--theme-bg-trans1)
  overflow-x auto
  min-height calc(100vh - 20px)
  img
    max-width 200%

#post-title
  flex-wrap wrap
  display flex
  flex-direction row
  justify-content space-between
  align-items left
  h1
    display inline-block
    font-size 1.25em
    align-items left
    color #888888 !important

  hr
    color var(--theme-border)
    position relative
    &:before
      content ''
      width 13%
      height 3px
      display block
      position absolute
      background-color #52FF00
      top -3px
      left -1px
#post-info
  text-align right
  time
    color var(--theme-highlight)
    font-weight 900
  .control
    text-align left
    display inline-block
    width 90px
#post-source span
  color var(--theme-subcolor)
  background-color var(--theme-unimportant-2)

#post-content     // and table headers
  margin-bottom 1em
  font-family KantumruyPro
  font-size 28px
  text-align left
  color #52FF00
  table
    border-bottom var(--theme-border) solid 1px
    width 90%
    margin-bottom 2px
  .footnote-ref:before
    content ''
    display inline-block
    margin-top -60px
    width 1px
    height 60

  .footnotes li:before
    content ''
    display block
    margin-top -60px
    height 60px
     
  .headerlink
    font-family CarroisGothic
    background-color var(--theme-highlight)
    margin 5px 7px 5px 0
  h1, h2
    font-family CarroisGothic
    &:target a
      background-color var(--theme-subcolor)
    .headerlink
      padding 0 0 0 6px
  h3, h4 ,h5 ,h6
    &:target a
      background-color var(--theme-subcolor)
    .headerlink
      padding 0 0 0 5px
      

#post-footer hr
  border-color var(--theme-border)

#reward
  margin 1em 0
  color var(--theme-text-rev)
  text-align left
  background-color var(--theme-bg-soft)
  &:hover
    background-color var(--theme-bg-soft-hover)
  summary
    background-color var(--theme-subcolor)
  div
    width 45%
    margin 0
    padding 20px 0
    display inline-block
  span
    color var(--theme-highlight)
    padding-right 10px
  img
    width 80%
    max-width 280px
    padding 0 20px

#toc-div
    font-family CarroisGothic

  .toc
    margin 0
    padding 10px
    list-style none

  .toc-child
    display none
    padding-left 1em
    list-style none
  .toc-item
    font-family CarroisGothic
    font-size 24px
    white-space nowrap
    overflow hidden
    margin 2px 0
  .has-active
    display block
  .toc-link
    text-align left
    width 80%
    overflow-y auto
    &::-webkit-scrollbar
      display none
    &::-ms-scrollbar
      display none
    scrollbar-width none
    display inline-block
    @media ( min-width 969px )
      &:hover
        .toc-number

          display none
  @media ( min-width 969px )
    .active
      color var(--theme-text-hover)
      background-color var(--theme-highlight)
      font-family CarroisGothic
      .toc-number
        display none

#pages
  padding 5px
  display flex
  justify-content center
  border-top var(--theme-border) solid 2px
  border-bottom var(--theme-border) solid 2px

.footer-link
  padding 5px
  width 80%
  align-self left
  height 50% !important
  position relative
  font-size 38px !important

video::-webkit-media-controls-panel {
   background-image: none !important;
   filter: brightness(0.4);
}

[data-person] { border-width:0; margin:80; padding:100; width:30%; }
[data-person='b'] { position:relative; right:-40%; text-align: left; }
[data-person='a'] { margin-left:40px; text-align: left;}
[data-person] > p { margin:0; border:1px solid white; border-radius:1.5em 0.5em 0.5em 1.5em; padding:0.5em 1em; width:auto; max-width:100%; min-width:auto; float:right; clear:both; }
[data-person='a'] > p { background:rgb(241,249,249); color:rgb(0,0,0); }
[data-person='b'] > p { background:rgb(15,105,1); color:rgb(255,255,255); }
[data-person] > p:last-of-type { border-bottom-right-radius:1.5em; }
[data-person] > p:first-of-type { border-top-right-radius:1.5em; margin-top:2em; }
[data-person] > p > time:first-of-type, [data-person] > p > b:first-of-type { display:block;width:0;height:0;overflow:hidden; }
