.tag-list
  padding 10px
.tag-list-item
  position relative
  line-height 23px
  background-color var(--theme-tag-bg)
  display inline-block
  margin 5px
  border var(--theme-tag-border) solid 1px
  border-radius 3px
  &, a, span
    transition .3s
  @media ( min-width 769px )
    &:hover
      border-color var(--theme-highlight)
      a
        color var(--theme-text-hover)
        background-color var(--theme-highlight)
      span
        background-color var(--theme-tag-bg)
    &:active
      border-color var(--theme-border)
      a
        background-color var(--theme-subcolor)
.tag-list-link
  color var(--theme-text-light)
  padding 3px 6px 3px 12px
  display table-cell
  box-sizing border-box
  &::after
    content ''
    width 100%
    height 100%
    position absolute
    top 0
    left 0
.tag-list-count
  width 10px
  padding 3px 6px
  color var(--theme-text-light)
  background-color var(--theme-tag-count-bg)
  display table-cell
  pointer-events none
  vertical-align left
