@media ( max-width 968px )
  main
    padding 0 12px
  article
    border none
    width 100%
    max-height none
    #post-bg
      margin 0
      padding 10px 10px 0 10px
  .highlight, blockquote
    margin 1em 0
  aside
    position static
    width 100%
    height auto
    padding 0
    h1
      font-size 14px
      text-align left
      margin 0
    footer
      text-align left
      padding 10px 0
      position static
  #paginator
    margin 20px 0 0 0
    a, span
      margin 5px 5px 0 0
  #post-index
    margin 0
  #logo
    margin-top 20px
    height 0
    margin 0
    img
      opacity .05
      position fixed

      pointer-events none
  
  #welcome
    text-align left
    margin 0
    .welcome-title
      font-size 14px
    .welcome-number
      font-size 18px
  #welcome-tags
    width auto
    .welcome-title
      display inline-block

  #total,#total1,#total2
    text-align left
    margin-bottom 0px
    margin-top 0px
    .total-title
      font-family CarroisGothic
      margin-bottom 0px
      margin-top 0px
      font-size 14px
      color var(--theme-highlight) !important

  #to-index
    bottom 18px
  #to-top
    bottom 16px
  #post-index
    margin 16px 10px 0 10px
  #archive-flex
    flex-direction column
  #archive-aside
    order 1
  #cursor-container
    display none
  #Archives, #Categories, #Tags
    margin 0
    time
      color var(--theme-text-light)
      padding 0
    .control
      width 55px
@media ( min-width 769px )
  main
    display flex
    justify-content space-evenly
  article
    width calc(95% - 112px)
  #to-index
    display none
  aside
    top 0
    width 170px
    h1
      font-size 14px
      text-align left
    a img
      transition background-color 1s
      &:hover
        background-color var(--theme-bg-soft-hover)
  #description p
    font-size 14px
  #archive-aside
    position sticky
    max-width 56%

@media ( min-width 1024px )
  article
    width calc(100% - 212px)
  aside
    width 140px
    h1
      font-size 14px
  #description p
    font-size 12px

@media ( min-width 1440px )
  article
    width calc(100% - 320px)
  aside
    width 200px
    h1
      font-size 14px
      font-style bold
      color blue 
  #total-archives, #total-categories, #total-tags
    .total-title
         font-family CarroisGothic
         font-size 14px
         color var(--theme-highlight) !important

    .
      font-size 14px
  #total-archives
    margin-top 115px
  .recent-post img
    width 90%
    margin 0 auto
    display block
    position relative
@media ( min-width 1920px )
  article
    width 100%
    margin-left 15px
  aside
    width 240px
    margin-right 0px
    padding-right 0px
    h1,h2,h3,h4,h5
      font-size 14px

  #total-categories, #total-tags
    margin-bottom 5px
    .total-title
      font-family CarroisGothic
      margin-bottom 1px
      font-size 16px
      color var(--theme-highlight) !important

    .
      font-size 18px 

  #total-archives
    margin-top 75px !important
    margin-bottom 5px
    .total-title
      font-family CarroisGothic
      margin-bottom 1px
      font-size 16px
      color var(--theme-highlight) !important
    .
      font-size 18px 



  .search-pop-overlay .popup
    left 65%
  .recent-post img
    width 80%
