aside
  order -1
header
  order 1

@media ( min-width 969px )
  header
    left 118px
  .navBtn
    left 1em
  aside
    left 0

@media ( min-width 992px, max-width 1919px)
  aside
    padding 0 15px 0 25px

@media ( min-width 1024px )
  header
    left unset
    right 0
  .navContent
    font-size 12px
    display flex
    flex-direction column
    transform unset
  .navItem
    align-self end
    padding-right 1.2em
  .navBlock
    .navItemTitle::before
      border-right 4px solid
  .navContent:not(.search) .navBlock
    &::before
      content ""
      height 100%
      width 100%
      position absolute
      top 0
      right 2em
    &:hover>.navItemTitle
      margin-left -1em
    &>.navItemList
      right calc(100% + 2em)
  .navItemList
    right 100%
    .navItem
      padding-left 1px
    .navItemTitle
      padding-right 0.8em
      padding-left 0.5em
  .navItemList>.navItem>.navItemTitle:hover
    padding-right 1.8em

@media ( min-width 1440px )
  .navItem
    padding-right 2.25em
  aside
    margin-right 10px

@media ( min-width 1920px )
  .navItem
    padding-right 0
  article
   margin 0 2.5%
