@media ( min-width 769px )
  header
    left 0
  aside
    right 0

@media ( min-width 992px, max-width 1919px )
  aside
    padding 0 5px 0 15px

@media ( min-width 1024px )
  .navContent
    transform unset
    font-size 20px !important

  .navItem
    font-size 20px
    padding-left 1.2em
  .navBlock
    text-align right
    .navItemTitle::before
      left 0
  .navContent:not(.search) .navBlock
    &::before
      content ""
      height 100%
      width 100%
      position absolute
      top 0
      left 2em
    &:hover>.navItemTitle
      margin-left 1em
    &>.navItemList
      left calc(100% + 2em)
  .navItemList
    left 100%
    .navItem
      padding-right 1px
    .navItemTitle
      font-size 20px
      padding-left 0.8em
      padding-right 0.5em
  .navItemList>.navItem>.navItemTitle:hover
    padding-left 1.8em

@media ( min-width 1440px )
  .navItem
    padding-left 2.25em
  aside
    margin-left 10px

@media ( min-width 1920px )
  .navItem
    padding-left 5.25em
    font-size 24px

  aside
    margin 0 0
    font-size 54px
