:root[theme-mode=dark]



  --lightblue #0e91bb
  --brightblue #0b71fc
  
  --lightgreen #195C12
  
  --lightyellow #E1AD01

  --lightgray #7b7d7d 
  --darkgray #f0f1f2


  --cursor-data var(--dark-cursor)
  --body-background var(--dark-background)

  --theme-highlight #ff6600
  --theme-subcolor #f77c09
  --theme-stress #f77c09

  --theme-bar-color-0 #195C12
  --theme-bar-color-1 #195C12
  --theme-bar-color-2 #195C12
  --theme-bar-color-3 #195C12
  --theme-kbd-text #195C12


  --theme-kbd-shadow #ba2

  --theme-cursor #aef213
  --theme-cursor-bg #444444

  --theme-text-hover #195C12

  --theme-text #c8e0f8
  --theme-text-light #0972f7
  --theme-text-rev #195C12

  --theme-background #141516
  --theme-bg-trans0 rgba(20, 21, 22, 0.95)
  --theme-bg-trans1 rgba(20, 21, 22, 0.8)
  --theme-bg-hover #195C12

  --theme-bg-light #000
  --theme-bg-soft rgba(#000, .05)
  --theme-bg-soft-hover rgba(#195C12, .1)

  --gold rgba(#ffea00, .4)


  --theme-code-header rgba(#000, .2)

  --theme-btn-bg #ffffff

  --theme-border  #195C12
  --theme-border-light #4d579
  --theme-border-soft rgba(#000, .1)

  --theme-unimportant #b2ff59
  --theme-unimportant-trans #b2ff59
  --theme-unimportant-2 #b2ff59

  --theme-td-border #3b9bfb
  --theme-td-hover rgba(#800000, .1)

  --theme-tag-bg #cfd8dc
  --theme-tag-count-bg #e3f2fd
  --theme-tag-border #313131

  --theme-loadingbar #b2ff59
