.gt-container
  -webkit-box-sizing border-box
  box-sizing border-box
  font-size 18px
  *
    -webkit-box-sizing border-box
    box-sizing border-box
  a.is--active
    color var(--theme-unimportant-2)
    pointer-events none
    &:hover
      background unset
      color var(--theme-unimportant-2)
  .hide
    display none !important
  .gt-svg
    position relative
    top -2px
    transition .3s
    display inline-block
    width 1em
    height 1em
    vertical-align sub
    svg
      width 100%
      height 100%
  .gt-ico
    display inline-block
  &.gt-ico-text
    margin-left 0.3125em
  .gt-header-controls-tip:hover
    color var(--theme-text-hover)
  .gt-ico-github
    position relative
    top 4px
    .gt-svg
      width 42px
      height 42px
      fill var(--theme-text)
      &:hover
        fill var(--theme-text-hover)
  .gt-spinner
    position relative
    &::before
      content ''
      -webkit-box-sizing border-box
      box-sizing border-box
      position absolute
      top 3px
      width 0.75em
      height 0.75em
      margin-top -0.1875em
      margin-left -0.375em
      border-radius 50%
      border 1px solid var(--theme-text-hover)
      border-top-color var(--theme-highlight)
      -webkit-animation gt-kf-rotate 0.6s linear infinite
      animation gt-kf-rotate 0.6s linear infinite
  .gt-loader
    position relative
    border 1px solid var(--theme-unimportant)
    -webkit-animation ease gt-kf-rotate 1.5s infinite
    animation ease gt-kf-rotate 1.5s infinite
    display inline-block
    font-style normal
    width 1.75em
    height 1.75em
    line-height 1.75em
    border-radius 50%
    &:before
      content ''
      position absolute
      display block
      top 0
      left 50%
      margin-top -0.1875em
      margin-left -0.1875em
      width 0.375em
      height 0.375em
      background-color var(--theme-unimportant)
      border-radius 50%
  .gt-avatar
    display inline-block
    width 3.125em
    height 3.125em
  .gt-avatar-github
    width 3em
    height 3em
    &:hover .gt-svg
      fill var(--theme-text-hover)
  .gt-btn
    &:hover
      transition .3s
      background-color var(--theme-bg-soft-hover)
      border 1px solid var(--theme-border)
      color var(--theme-subcolor)
    &.is--disable
      cursor not-allowed
      opacity 0.5
  .gt-btn-text
    font-weight 400
  .gt-btn-loading
    position relative
    margin-left 0.5em
    display inline-block
    width 0.75em
    height 1em
    vertical-align top
  .gt-btn-login
    margin-right 0
  .gt-error
    text-align center
    margin 0.625em
    color var(--theme-stress)
  .gt-initing
    padding 1.25em 0
    text-align center
  .gt-initing-text
    margin 0.625em auto
    font-size 92%
  .gt-no-init
    padding 1.25em 0
    text-align center
  .gt-link
    border-bottom 1px dotted var(--theme-highlight)
  .gt-meta
    margin 1.25em 0
    padding 1em 0
    position relative
    border-bottom 1px solid var(--theme-unimportant-2)
    font-size 1em
    position relative
    z-index 10
    &:after
      clear both
  .gt-counts
    margin 0 0.625em 0 0
  .gt-user
    float right
    margin 0
    font-size 92%
    .gt-ico
      margin 0 0 0 0.3125em
      svg
        fill var(--theme-text)
  .gt-user-pic
    width 16px
    height 16px
    vertical-align top
    margin-right 0.5em
  .gt-user-inner
    display inline-block
    .gt-ico-arrdown .gt-svg
      transform rotate(180deg)
    &.is--poping .gt-ico-arrdown .gt-svg
      transform rotate(0)
  .gt-version
    color var(--theme-text)
    font-size 18px
  .gt-copyright
    margin 0 0.7em 0.5em
    border-top 1px solid var(--theme-unimportant-2)
    padding-top 0.5em
  .gt-link-project
    margin-right 1px
  .gt-popup
    position absolute
    right 0
    top 2.4em
    background var(--theme-background)
    display inline-block
    border 1px solid var(--theme-unimportant-2)
    padding 0.625em 0
    font-size 0.875em
    .gt-action
      display block
      margin 0.3em 0.7em
      position relative
      text-decoration none
      letter-spacing 1px
      &.is--active
        &:before
          content ''
          width 0.25em
          height 0.25em
          background var(--theme-highlight)
          position absolute
          left -.4em
          top 0.6em
  .gt-header
    position relative
    display -webkit-box
    display -ms-flexbox
    display flex
  .gt-header-comment
    -webkit-box-flex 1
    -ms-flex 1
    flex 1
    margin-left 1.25em
  .gt-header-textarea:hover
    background-color var(--theme-bg-soft-hover)
    border 1px solid var(--theme-border)
  .gt-header-preview
    min-height 72px
    width 100%
    overflow auto
    transition .3s
    padding 0.75em
    border-radius 5px
    border 1px solid var(--theme-border-light)
    background-color var(--theme-bg-soft)
    &:hover
      padding 0.75em
      border-radius 5px
      border 1px solid var(--theme-border)
      background-color var(--theme-bg-soft-hover)
    p
      width fit-content
  .gt-header-controls
    position relative
    margin 0.75em 0 0
    &:after
      clear both
  &.gt-input-focused
    position relative
    &:after
      content ''
      position fixed
      bottom 0%
      left 0
      right 0
      top 0
      background var(--theme-background)
      opacity 0.6
      z-index 9999
    .gt-header-comment
      z-index 10000
  &:after
    transition .3s
  .gt-comments
    padding-top 1.25em
    padding-bottom 1.25em
  .gt-comments-null
    text-align left
  .gt-comments-controls
    margin 1.25em 0
    text-align left
  .gt-comment
    position relative
    padding 0.625em 0
    display -webkit-box
    display -ms-flexbox
    display flex
  .gt-comment-content
    -webkit-box-flex 1
    -ms-flex 1
    flex 1
    margin-left 1.25em
    padding 0.75em 1em
    overflow auto
    transition .3s
    color var(--theme-text)
    border-left #444444 solid 3px
    padding-left 20px
    background-color var(--theme-bg-soft)
    transition .3s
    &:hover
      border-color var(--theme-highlight)
      background-color var(--theme-bg-soft-hover)
    &::before
      background linear-gradient(180deg, transparent, var(--theme-bg-trans0))
    &::after
      background var(--theme-bg-trans0)
    p
      color var(--theme-text-light)
  .gt-comment-block-1
    float right
    height 1.375em
    width 2em
  .gt-comment-block-2
    float right
    height 1.375em
    width 4em
  .gt-comment-text, .gt-comment-date
    margin-left 0.5em
    color var(--theme-text)
  .gt-comment-body
    .email-hidden-toggle a
      display inline-block
      height 12px
      padding 0 9px
      font-size 18px
      font-weight 600
      line-height 6px
      vertical-align middle
      border-radius 1px
    .email-hidden-reply
      display none
      white-space pre-wrap
      .email-signature-reply
        padding 0 15px
        margin 15px 0
        color var(--theme-unimportant-2)
        border-left #444444 solid 4px
      &.expanded
        display block
a
  .gt-ico
    fill var(--theme-highlight)
  &:hover .gt-ico
    fill var(--theme-text-hover)
@media ( max-width 479px )
  .gt-container .gt-avatar
    width 2em
    height 2em
  .gt-container .gt-avatar-github
    width 1.875em
    height 1.875em
  .gt-container .gt-header-comment
    margin-left 0.875em
  .gt-container .gt-header-controls
    margin 0
  .gt-container .gt-header-controls-tip
    display none
  .gt-container .gt-header-controls .gt-btn
    float none
    width 100%
    margin 0.75em 0 0
  .gt-container .gt-comment-content
    margin-left 0.875em
    padding 0.625em 0.75em
.gt-container
  .gt-avatar img
    width 100%
    height auto
    border-radius 50%
  .gt-btn
    transition .3s
    padding 0.75em 1.25em
    display inline-block
    line-height 1
    white-space nowrap
    border 1px solid var(--theme-border-light)
    border-radius 5px
    background-color var(--theme-bg-soft)
    color var(--theme-text-light)
    outline none
    font-size 0.75em
  .gt-header-textarea
    font-family Moulpali
    padding 0.75em
    display block
    -webkit-box-sizing border-box
    box-sizing border-box
    width 100%
    min-height 5.125em
    max-height 15em
    border-radius 5px
    border 1px solid var(--theme-border-light)
    color var(--theme-text-light)
    font-size 0.875em
    word-wrap break-word
    resize vertical
    background-color var(--theme-bg-soft)
    outline none
    transition .3s
  .gt-header-controls-tip
    font-size 0.875em
    vertical-align sub
  .gt-header-controls .gt-btn
    float right
    margin-left 1.25em
  &:after
    content ''
    position fixed
    bottom 100%
    left 0
    right 0
    top 0
    opacity 0
  .gt-comment-header
    margin-bottom 0.5em
    font-size 0.875em
    position relative
.gt-container .gt-meta:before,
.gt-container .gt-meta:after,
.gt-container .gt-header-controls:before,
.gt-container .gt-header-controls:after
  content " "
  display table
.gt-comment-like, .gt-comment-reply
  fill var(--theme-highlight)
  &:hover
    fill var(--theme-text-hover)
.gt-container .gt-comment-like
  height 1.375em
.gt-container .gt-comment-edit,.gt-container .gt-comment-reply
  position absolute
  height 1.375em
.gt-container .gt-comment-edit:hover
  top 0
.gt-container .gt-comment-edit,.gt-container .gt-comment-reply
  top 0
  right 0
@-webkit-keyframes gt-kf-rotate
  0%
    -webkit-transform rotate(0)
    transform rotate(0)
  100%
    -webkit-transform rotate(360deg)
    transform rotate(360deg)
    -webkit-transform rotate(360deg)
    transform rotate(360deg)
@keyframes gt-kf-rotate
  0%
    -webkit-transform rotate(0)
    transform rotate(0)
  100%
    -webkit-transform rotate(360deg)
    transform rotate(360deg)
    -webkit-transform rotate(360deg)
    transform rotate(360deg)
