#valine
  color var(--theme-text-light)
  padding 10px 0
  code
    font-family Moulpali
  .vwrap
    background-color var(--theme-bg-soft)
    transition .3s
    &:hover
      background-color var(--theme-bg-soft-hover)
      border-color var(--theme-border)
  .vheader .vinput
    border-bottom-style solid
    &:focus
      color var(--theme-highlight)
      border-bottom-color var(--theme-border)
  .vicon:hover
    background-color unset
  .vsubmit:hover
    color var(--theme-subcolor)
    border-color var(--theme-border)
    background-color var(--theme-bg-soft-hover)
  .vsys
    background-color transparent
  .vmeta .vat
    color var(--theme-subcolor)
  .vcontent
    color var(--theme-text)
    border-left #444444 solid 3px
     0.625em 0 0.625em 10px
    background-color var(--theme-bg-soft)
    transition .3s
    &:hover
      border-color var(--theme-highlight)
      background-color var(--theme-bg-soft-hover)
    &::before
      background linear-gradient(180deg, transparent, var(--theme-bg-trans0))
    &::after
      background var(--theme-bg-trans0)
    p
      color var(--theme-text-light)
  a, button, .vicon, .vnick, .vat
    cursor var(--cursor-data) 3 3,pointer
  a
    color var(--theme-highlight)
    &:hover
      color var(--theme-text-hover)
#veditor
  color var(--theme-text-light)
  font-family Moulpali
