@media ( max-width 1023px )
  .search .navItem:not(#search-header)
    transform translateX(-100%)

@media ( min-width 769px ) and ( max-width 1023px )
  .up
    #search-header
      left calc(100vw - 238px)
    .search-popup
      right 6px
      transform translateX(6px)
      left calc(100vw - 6px)
      &.open
        transform translateX(-100%)
  header
    clip-path polygon(0 0, 0 100%, 100vw 100%, 100vw 0)
  .search-popup
    left 238px

@media ( min-width 1024px )
  .search .navItem:not(#search-header)
    transform translateX(100%)
  .search-popup
    right 6px
    transform translateX(100%)
    &.open
      transform translateX(0)
  #search-header
    input
      padding 0 10px 0 0
    .navItemTitle
      padding-left 10px
      right 10px
      &::before
        border-right 4px solid #444444
        right 0
