.search .navItem:not(#search-header)
  transform translateX(-100%)
.search-popup
  left 0
  transform translateX(-100%)
  &.open
    transform translateX(0)

@media ( min-width 769px ) and ( max-width 1023px )
  .up :is(#search-header, .search-popup)
    left calc(100vw - 238px)
  :is(.up, .moving) header
      clip-path polygon(0 0, 0 100%, calc(100vw - 238px) 100%, calc(100vw - 238px) 0)

@media ( min-width 1024px )
  #search-header
    input
      padding 0 0 0 10px
      &::placeholder
        text-align right
    .navItemTitle
      padding-right 10px
      &::before
        border-left 14px solid var(--theme-border-light)
        left 0
