aside
  #about
    a#logo(href=config.root )
      img(src= asideLogo, alt= "Logo")

  #aside-block

    block aside-block
    if page.published === undefined

      a#total-categories(href= config.root + "infosec/adversary-operations") 
        span.total-number= "⁖  ADVERSARY OPS"
      a#total-categories(href= config.root + "point-of-origin/bible") 
        span.total-number= "⁖  THE BIBLE"
      a#total-categories(href= config.root + "agent/jackass") 
        span.total-number= "⁖  JACKASS"


      span.total-title #{__("AGENT")}
      a#total-categories(href= config.root + "agent/legacy-finance-tools") 
        span.total-number= "⁖  LEGACY FINANCE"
      a#total-categories(href= config.root + "agent/legacy-healthcare") 
        span.total-number= "⁖  LEGACY HEALTHCARE"
      a#total-categories(href= config.root + "agent/legacy-media") 
        span.total-number= "⁖  LEGACY MEDIA"
      a#total-categories(href= config.root + "agent/jackass") 
        span.total-number= "⁖  JACKASS"

      span.total-title #{__("CONTEXT")}
      a#total-categories(href= config.root + "context/money") 
        span.total-number= "⁖  MONEY"
      a#total-categories(href= config.root + "point-of-origin/value") 
        span.total-number= "⁖  VALUE"           
      a#total-categories(href= config.root + "point-of-origin/meaning") 
        span.total-number= "⁖  MEANING"
      a#total-categories(href= config.root + "point-of-origin/identity") 
        span.total-number= "⁖  IDENTITY"
      a#total-categories(href= config.root + "context/philosophy") 
        span.total-number= "⁖  PHILOSOPHY"
      a#total-categories(href= config.root + "context/political-philosophy") 
        span.total-number= "⁖  POLITICS"
      a#total-categories(href= config.root + "effort/debate") 
        span.total-number= "⁖  DEBATE"
      a#total-categories(href= config.root + "effort/fallacies") 
        span.total-number= "⁖  FALLACIES"
      a#total-categories(href= config.root + "completion/reciprocity") 
        span.total-number= "⁖  RECIPROCITY"

      span.total-title #{__("EFFORT")}
      a#total-categories(href= config.root + "effort/censorship-industrial-complex") 
        span.total-number= "⁖  CENSORSHIP"
      a#total-categories(href= config.root + "context/events/disinformation-campaigns") 
        span.total-number= "⁖  DISINFORMATION"
      a#total-categories(href= config.root + "context/wokecraft") 
        span.total-number= "⁖  WOKECRAFT"
      a#total-tags(href= config.root + "context/events/government-corruption") 
        span.total-number= "⁖  CORRUPTION"

      span.total-title #{__("RESULT")}
      a#total-categories(href= config.root + "context/events/covid") 
        span.total-number= "⁖  COVID"
      a#total-categories(href= config.root + "context/events/twitter-files") 
        span.total-number= "⁖  TWITTER FILES"
      a#total-categories(href= config.root + "context/social-issues") 
        span.total-number= "⁖  SOCIAL ISSUES"

      br
      br

      section#total
          span.total-title #{__("NAC MODEL")}
          a#total-categories(href= config.root + "negate") 
            span.total-number= "⁖  NEGATE"
          a#total-categories(href= config.root + "advantage") 
            span.total-number= "⁖  ADVANTAGE"
          a#total-tags(href= config.root + "completion") 
            span.total-number= "⁖  COMPLETION"







