meta(charset='UTF-8')
meta(name='viewport' content='width=device-width, initial-scale=1.0')
title= pageTitle

link(
  rel="icon"
  type=(theme.favicon.type ? theme.favicon.type : "image/x-icon")
  href=(theme.favicon.href ? theme.favicon.href : config.root + "favicon.ico")
)


link(
  href=("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css")
  rel="stylesheet"
)


script var config = !{configs}
if theme.valine && theme.valine.enable === true
  script(src='//unpkg.com/valine/dist/Valine.min.js')
if theme.waline && theme.waline.enable === true
  link(rel="stylesheet", href= url_for('//unpkg.com/@waline/client@v2/dist/waline.css'))
if theme.gitalk && theme.gitalk.enable === true
  script(src=config.root + "js/gitalk.js")
if theme.mermaid && theme.mermaid.enable === true && theme.mermaid.version
  script(src= "//unpkg.com/mermaid@" + theme.mermaid.version + "/dist/mermaid.min.js")
if theme.mathjax && theme.mathjax.enable === true
  script(src="//cdnjs.cloudflare.com/ajax/libs/mathjax/" + theme.mathjax.version + "/MathJax.js")
  script
    |MathJax.Hub.Config({
    |  menuSettings: {
    |    zoom: "None"
    |  },
    |  showMathMenu: false,
    |  jax: ["input/TeX","output/CommonHTML"],
    |  extensions: ["tex2jax.js"],
    |  TeX: {
    |    extensions: ["AMSmath.js","AMSsymbols.js"],
    |    equationNumbers: {
    |      autoNumber: "AMS"
    |    }
    |  },
    |  tex2jax: {
    |    inlineMath: [["\\(", "\\)"]],
    |    displayMath: [["\\[", "\\]"]]
    |  }
    |});


link(rel="stylesheet", href=config.root + "css/arknights.css")
if theme.stylesheets && theme.stylesheets.length > 0
  //- stylesheets list from _config.yml
  each url in theme.stylesheets
    link(rel='stylesheet', href=url)
script
  |if (window.localStorage.getItem('theme-mode') === 'light'
  if theme.color === 'auto'
    |  || window.matchMedia('(prefers-color-scheme:light)').matches)
  else
    |)
  |  document.documentElement.setAttribute('theme-mode', 'light')
  |if (window.localStorage.getItem('theme-mode') === 'dark'
  if theme.color === 'auto'
    |  || window.matchMedia('(prefers-color-scheme:dark)').matches)
  else
    |)
  |  document.documentElement.setAttribute('theme-mode', 'dark')
style
  |@font-face {
  |  font-family: AnekKannada;
  |  src: local('AnekKannada'), url("#{config.root}font/Anek_Kannada/static/AnekKannada_Expanded-Regular.ttf");
  |}
  |@font-face {
  |  font-family: Bayon;
  |  src: local('Bayon'), url("#{config.root}font/Bayon/Bayon-Regular.tff");
  |}
  |@font-face {
  |  font-family: CarroisGothic;
  |  src: local('CarroisGothic'), url("#{config.root}font/Carrois_Gothic_SC/CarroisGothicSC-Regular.ttf");
  |}
  |@font-face {
  |  font-family: KantumruyPro;
  |  src: local('KantumruyPro'), url("#{config.root}font/Kantumruy_Pro/static/KantumruyPro-Thin.ttf");
  |}
  |@font-face {
  |  font-family: Exo-Light;
  |  src: local('Exo-Light'), url("#{config.root}font/Exo/static/Exo-Light.ttf");
  |}

