extends includes/layout.pug

block content
  -

    const encrypted = page.encrypt || page.password
    const tocContent = encrypted === undefined ? toc(page.content, theme.toc) : toc(page.origin, theme.toc)
  br
  br
  br
  br

  #post-content
    br
    
    if excerptConf || encrypted
      != page.content
    else
      != page.more
    #paginator!= paginator()

block aside-block
  - 
    const encrypted = page.encrypt || page.password
    const tocContent = encrypted === undefined ? toc(page.content, theme.toc) : toc(page.origin, theme.toc)


