extends includes/layout.pug

block content
  -
    const prev = page.prev
    const next = page.next
    const dateConf = theme.post.date
    const updatedConf = theme.post.updated
    const excerptConf = theme.post.excerpt
    const reward = theme.post.reward
    const encrypted = page.encrypt || page.password
    const tocContent = encrypted === undefined ? toc(page.content, theme.toc) : toc(page.origin, theme.toc)
    const countWord = theme.post.count === true && wordcount !== undefined ? wordcount(page.content) : null
    const countTime = theme.post.time === true && min2read !== undefined ? min2read(page.content) : null
  #post-bg
    #post-title
    #pages(style=fix)
      if prev !== undefined
        .footer-link(style="width: 300%;  height: 25%; text-align:center;")
          a(href=url_for(prev.path) style="font-size: 22px")
            = ' ' + prev.title
      else 
        .footer-link(style="width: 300%;  height: 50%; text-align:center;")
          span #{('        ')}


      .footer-link(style="font-size:26px;width: 600%; height: 25%; text-align:center")
        h1(style="font-size: 32px;color:#99ff99") #{page.title}
      //- if (dateConf || updatedConf) && page.published

      if next !== undefined
        .footer-link(style="width: 300%;  height: 50%; text-align:center;")
          a(href=url_for(next.path)  style="font-size: 22px")
            = next.title + ' '
      else 
        .footer-link(style="width: 300%;  height: 50%; text-align:center;")
          span #{('        ')}


        #post-info
          - var first = true
          if dateConf
            span #{__('post.posted')}
              div.control
                time(datetime=page.date.toJSON())#date
                  = ' ' + date(page.date, date_format)
            - first = false
          if updatedConf
            if !first
              br
            span #{__('post.edited')}
              div.control
                time(datetime=page.updated.toJSON())#updated
                  = ' ' + date(page.updated, date_format)
            - first = false
          if countWord
            if !first
              br
            span #{__('post.countTotal')}
              div.control #{countWord}
            - first = false
          if countTime
            if !first
              br
            span #{__('post.timeTotal')}
              div.control #{countTime} #{__('post.timeUnit')}

    #post-content
      if excerptConf || encrypted
        != page.content
      else
        != page.more
      #paginator!= paginator()
    #post-footer
      //- if prev || next
      //-   - let fix = ""
      //-   if prev === undefined
      //-     - fix = "justify-content: flex-end"
      //-   if next === undefined
      //-     - fix = "justify-content: flex-start"
      //-   #pages(style=fix)
      //-     if prev !== undefined
      //-       .footer-link(style="width: 50%; text-align:center;border-right:1px #008000 solid")
      //-         a(href=url_for(prev.path))
      //-           = ' ' + prev.title
      //-     if next !== undefined
      //-       .footer-link(style="width: 50%; text-align:center;border-left:1px #008000 solid")
      //-         a(href=url_for(next.path))
      //-           = next.title + ' '

block aside-block
  - 
    const encrypted = page.encrypt || page.password
    const tocContent = encrypted === undefined ? toc(page.content, theme.toc) : toc(page.origin, theme.toc)
  if (tocContent.length > 0)
    #toc-div(style=encrypted !== undefined?"display:none":"")

      //- span #{style="width: 50%; text-align:center;border-left:1px #008000 solid"}

      h1(style="text-align:left;border-left:55px #008800 solid") #{__('post.index')}

      |!{tocContent}

//- block footer
//-   -
    
//-   section#total
//-       a#total-categories(href= config.root + "home")
//-         span.total-title Home

//-   section#total
//-       a#total-categories(href= config.root + "about") 
//-         span.total-title About

//-   section#total
//-       a#total-categories(href= config.root + "market/fractal-flow-1")
//-         span.total-title FractalFlow

//-   section#total
//-       a#total-categories(href= config.root + "market/market-maker-1") 
//-         span.total-title MarketMaker

//-   section#total
//-       a#total-categories(href= config.root + "market/newton-1")
//-         span.total-title Newtonian

//-   section#total
//-       a#total-categories(href= config.root + "market/priceaction-1") 
//-         span.total-title PriceAction

