$search = hexo-config('search.enable') ? hexo-config('search.enable') : false
$isleft = hexo-config('aside.in_left') ? hexo-config('aside.in_left') : false
$gitalk = hexo-config('gitalk.enable') ? hexo-config('gitalk.enable') : false
$valine = hexo-config('valine.enable') ? hexo-config('valine.enable') : false
$waline = hexo-config('waline.enable') ? hexo-config('waline.enable') : false
$mermaid = hexo-config('mermaid.enable') ? hexo-config('mermaid.enable') : false
$comment-count = 0
$canvas_dust = hexo-config('canvas_dust') ? hexo-config('canvas_dust') : false
$pjax = hexo-config('pjax.enable') ? hexo-config('pjax.enable') : false



@import "_color/*"

@import "_core/*"

if $canvas_dust
  @import "_modules/canvas_dust"

if $search
  @import "_modules/search/base"
  if $isleft
    @import "_modules/search/left"
  else
    @import "_modules/search/right"

if $gitalk
  $comment-count = $comment-count + 1
  @import "_modules/comments/gitalk"

if $valine
  $comment-count = $comment-count + 1
  @import "_modules/comments/valine"

if $waline
  $comment-count = $comment-count + 1
  @import "_modules/comments/waline"

if $comment-count > 1
  @import "_modules/comments/base"

if $pjax
  @import "_modules/pjax"

if $mermaid
  @import "_modules/mermaid"


// ===== 布局样式
// == layout style
if $isleft
  @import "_layout/left"
else
  @import "_layout/right"

// ========= 弹性布局
// ====== flex layout
@import "_layout/flex_layout"

// ===== 页面布局
// == page layout
@import "_page/*"

// ===== 自定义样式
// == custom style
@import "_custom/*"

