#welcome
  text-align left
  margin 0
  .welcome-title
    color #b2ff59
    font-size 18px
  .welcome-number
    font-size 18px
#welcome-tags
  width auto
  .welcome-title
    display inline-block
    margin-bottom 0px
