:root[theme-mode=dark] 
.mermaid
  text-align center !important
  width 5000px
  font-family CarroisGothic
  font-size 12px !important
  position center
  .marker.cross
    stroke #66ffcc
  svg
    width 1600px



:root[theme-mode=light] 
.mermaid
  width 5000px
  font-family CarroisGothic
  font-size 14px
  fill #66ffcc
  .error-icon
    fill #66ffcc
  .error-text
    fill #66ffcc
    stroke #66ffcc
  .edge-thickness-normal
    stroke-width 2px
  .edge-thickness-thick
    stroke-width 3.5px
  .edge-pattern-solid
    stroke-dasharray 0
  .edge-pattern-dashed
    stroke-dasharray 3
  .edge-pattern-dotted
    stroke-dasharray 2
  .marker
    fill #66ffcc
    stroke #66ffcc
  .marker.cross
    stroke #66ffcc
  svg
    font-size 10px
    width 1200px
  .label
    color #66ffcc
  .cluster-label text
    fill #66ffcc
  .cluster-label span
    color #66ffcc
  .label text, span
    fill #66ffcc
    color #66ffcc
  .node :is(rect, circle, ellipse, polygon, path)
    fill #66ffcc
    stroke #66ffcc
    stroke-width 1px
  .node .label
    text-align center
    font-size 10px
    width 800px
    color #66ffcc
    background-color #66ffcc
  .arrowheadPath
    fill #66ffcc
  .edgePath .path
    stroke #666
    stroke-width 2px
  .flowchart-link
    stroke #66ffcc
    fill #66ffcc
  .edgeLabel
    background-color #66ffcc
    text-align center
  .edgeLabel rect
    opacity .5
    background-color #66ffcc
    fill #66ffcc
    text-align center
  .cluster rect
    fill #66ffcc
    stroke #66ffcc
    stroke-width 1px
  .cluster text
    fill #333
  .cluster span
    color #66ffcc
  .mermaidTooltip
    position absolute
    text-align center
    max-width 5000px
    padding 0px
    font-size 16px
    background #66ffcc
    border 1px solid #66ffcc
    border-radius 2px
    pointer-events none
    z-index 100
